body {
     font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: normal;
    margin: 0;
}
.section-btn {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}
.image-1 {
    width: 150px;
    height: 80px;
    margin-top: 64%;
    margin-left: 51%;
 }
 .user {
    color: #444;
    font-size: large; 
    font-family: roboto, sans-serif;
    font-weight: 400;
    margin: 0px 0px 15px;
    margin-left: 25%;
    margin-top: 26%;
 }
 .username, .username2{
    margin-top: 5%;
    height: 46px;
    border: 1px solid #dfdfdf;
    background: transparent;
    border-radius: 4px;
    padding-left: 1.0rem;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    margin-left: 25%;
    padding-right: 100%;
    font-family: roboto, sans-serif;
    position: relative;
 }
 .username:focus,.username2:focus{
    border-color: #35AA47;
    outline: none;
 }
 .lope {
    position: absolute;
    margin-top: 25px;
    left: 26%;
 }
 .padlock {
    position: absolute;
    margin-top: 25px;
    left: 26%;
 }
 .sign {
    font: 16px Roboto, sans-serif;
    background: #35AA47;
    height: 46px;
    border: 1px solid #35AA47;
    border-radius: 4px;
    width: 199%;
    margin-left: 25%;
    color: #FFFFFF;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
 }
 .sign:hover {
    background-color: #444;
    border: 1px solid #444;
    cursor: pointer;
 }
.fa1{
    -webkit-transform: scaleX(-1);
    margin-left: 25%;
    font-size: 12px;

}
.forget {
    color: #444;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    font-family: roboto, sans-serif;
}
.forget:hover {
    text-decoration: underline;
}
::placeholder {
    font-size:medium;
}
 .image-2 {
    width: 900px;
    height: 100vh;
    object-fit: cover;
    border-radius: 0% 1% 1% 0%;

 }  



 @media screen and (max-width: 775px) {
     .section-btn {
        flex-direction: column;
     }
     .image-1 {
        margin-top:5%;
        margin-left: 15%;
     }  
     .user {
        margin-top: 10%;
        margin-left: 5%;
     }
     .username, .username2 {
        margin-left: 3%;
        padding-right: 8rem;
     }
     .sign {
        margin-left: 3%;
        width: 19rem;
     }
     .fa1 {
        margin-left: 3%;
     }
     .lope, .padlock {
        margin-left: 40%;
        margin-top: 9%;
     }
     .image-2 {
        width: 100vw;
     }

 }
 